
@font-face {
    font-family: 'WeatherIcons';
    src: url('fonts/artillcleanweathericons-Regular.eot');
    src: url('fonts/artillcleanweathericons-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/artillcleanweathericons-Regular.svg#artillcleanweathericons-Regular') format('svg'),
         url('fonts/artillcleanweathericons-Regular.ttf') format('truetype'),
         url('fonts/artillcleanweathericons-Regular.woff') format('woff'),
         url('fonts/artillcleanweathericons-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  .Astronomy {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2em;
  }

.Astronomy > div span::before {
    font-family: 'WeatherIcons';
    display: inline-block;
    font-size: 2em;
}

.Astronomy .sunrise span::before {
    content: "7";
}
.Astronomy .sunset span::before {
    content: "8";
}